# development builds, no need for that to be on Github,
#we can just use the releases and tags system.
# This also forces- err- makes people use their brains
#to compile it on their own, because I'm mean.
bin
# build SH script, quality of life for me (Beast)
/debug_build
# release SH script, also QoL for me (Beast)
/release_build
# for clangd. QoL again for me (Beast)
/compile_commands.json
# windows build SH script, again, QoL for me (Beast)
/windows_debug_build
# windows relase build SH script, again again
#QoL for me (Beast)
/windows_release_build

*.o
*.exe
.vscode/